
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@mixin rong-dai($rong, $dai) {
    width: $rong;
    height: $dai;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(24, 24, 24);
    color: #fff;
    user-select: none;
}



.navbar {
    padding: 2rem 1rem 5rem 1rem;
}

.container {
    padding-left: 0;

    .navbar-brand {
        margin-right: 0.2rem;
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-size: 1.6rem;
    }
    .navbar-dot {
        color: rgb(226, 87, 87);
        font-size: 1.6rem;
        font-weight: 700;
    }
    .nav-item {
         .nav-link {
             text-decoration: none;
             padding:  0 1rem;
             color: rgb(183, 183, 183);
             font-size: 1.2rem;
             transition: all   0.2s linear;
             &:hover {
                 transform: translate(4px,-3px);
             }
         }
         .nav-link.active {
            color: #3dd2ad;
        }

    }
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .search-container {
        >p{
            text-transform: uppercase;
            font-weight: 500;
            color: #a8a8a8;
            margin: 6px 0;
        }
        .search-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            input {
                outline: none;
                padding: 6px 12px 6px 24px;
                border: 1px solid rgb(210, 210, 210);
                border-radius: 6px;
                margin-right: 20px;
                font-size: 12px;
                    width: 240px;
                    height: 40px;
            }
            button {
                outline: none;
                border: none ;
                text-transform: uppercase;
                background-color: rgb(43, 134, 142);
                color: #fff;
                padding: 8px;
                border-radius: 4px;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: rgb(54, 178, 189);
                }
            }
            margin-bottom: 20px;
        }
    }
    .search-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .singer-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 16px;
        text-decoration: none;
        transition: all 0.2s linear;
        padding: 8px 0;
        &:hover {
            transform: translateX(6px)
        }
        .singer-img {
            @include rong-dai(60px,60px );
            border-radius: 50%;
            object-fit: cover;
            margin-right: 16px;
            
        }
        .info-wrap {
            p{
                margin: 0;
                font-size: 14px;
                    color: rgb(182, 182, 182);
            }
            .singer-name {
                font-size: 18px;
                color: rgb(255, 253, 253);
            }
            
        }
    }
    .content-item {
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        text-decoration: none;
        border-radius: 16px;
        color: rgb(219, 219, 219);
        margin-bottom: 60px;
        // background-color: #fff;
        transition: all 0.3s linear;
        &:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
           
        }
        .content-img {
            @include rong-dai(260px, 200px);
            object-fit: cover;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            
        }
        .content-desc {
            padding: 20px 30px;
            padding-right: 60px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}

.webgl {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    outline: none;
    width: 100% !important;
    /* mix-blend-mode: exclusion; */
}

.fa-heart {
    color: red;
}

.song-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #eeede8;
    border-radius: 24px;
    color: #000;
    width: 1000px;
    margin-bottom: 80px;
  
    img{
        width: 300px;
            height: 240px;
            object-fit: cover;
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
    }
    .item-wrap {
        padding-left: 48px;
        position: relative;
        #youtube {
            width:520px;
        }
        .song-title {
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 0px;

        }
        .singers {
            font-weight: 300;
            color: rgb(91, 91, 91);
        }
        .song-fav{
            right: -12%;
                top: 10%;
                position: absolute;
                font-size: 1.4rem;
                color: #cccccc;
                cursor: pointer;
        }
        .song-comment{
            font-size: 1.4rem;
                color: #cccccc;
                cursor: pointer;
                position: absolute;
                    right: -12%;
                    top: 42%;
        }
    }
}

.song-modal {
        // display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        overflow: hidden;
            top: 0;
            left: 0;
            z-index: 10;
            @include rong-dai(100%,100%);
            opacity: 0;
            transform: scale(0);
            transition: all 0.3s ease-in;
            // display: none;
    .layer{
        position: absolute;
        background-color: rgb(35 36 38 / 77%);
        width: 100vw;
        height: 100vh;
        top: 0;left: 0;
        z-index: -1;
    }
    .song-wrap_comment {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color:#ffffff;
        padding: 20px 30px;
        border-radius: 12px;
    }
    .song_comment-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 24px;
        h1 {
            font-size: 20px;
            padding-right: 390px;
        }
        .comment-closeBtn {
            cursor: pointer;
        }

    }
    .line {
        width: 100%;
            height: 2px;
            background: rgb(0, 0, 0);
            margin-bottom: 20px;
    }
    .list-comments{
        width: 100%;
        .comment-item {
            width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-bottom: 12px;
        
                .comment-img {
                    @include rong-dai(50px, 50px);
                    border-radius: 50%;
                    margin-right: 16px;
                }
        
                div {
                    h3 {
                        font-size: 18px;
                    }
        
                    p {
                        font-size: 12px;
                    }
                }
            }
    }
    .comment-input {
        outline: none;
            width: 100%;
            border: none;
            padding: 10px 12px;
            background: none;
            color: rgb(0, 0, 0);
            border-bottom: 1px solid rgb(0, 0, 0);
    }
    .comment-submit {
        cursor: pointer;
        color: #3f3f3f;
        position: absolute;
        top: 63%;
        font-size: 20px;
        right: 35%;

    }
}

.song-modal.active{
    display: flex;
    opacity: 1;
    transform: scale(1);
}

.detailLayer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
background-image: linear-gradient(to left bottom, #143743, #0e6469, #35947f, #7cc284, #d7ec85);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.detailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .detailItem {
        p{
            margin: 24px 0;
        }
    }
}

.review {
    padding:  0
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -6px;
}

.comment-content {
    
}