@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: #181818;
  color: #fff;
  user-select: none;
}

.navbar {
  padding: 2rem 1rem 5rem 1rem;
}

.container {
  padding-left: 0;
}
.container .navbar-brand {
  margin-right: 0.2rem;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}
.container .navbar-dot {
  color: #e25757;
  font-size: 1.6rem;
  font-weight: 700;
}
.container .nav-item .nav-link {
  text-decoration: none;
  padding: 0 1rem;
  color: #b7b7b7;
  font-size: 1.2rem;
  transition: all 0.2s linear;
}
.container .nav-item .nav-link:hover {
  transform: translate(4px, -3px);
}
.container .nav-item .nav-link.active {
  color: #3dd2ad;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.home-container .search-container > p {
  text-transform: uppercase;
  font-weight: 500;
  color: #a8a8a8;
  margin: 6px 0;
}
.home-container .search-container .search-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.home-container .search-container .search-wrap input {
  outline: none;
  padding: 6px 12px 6px 24px;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  margin-right: 20px;
  font-size: 12px;
  width: 240px;
  height: 40px;
}
.home-container .search-container .search-wrap button {
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: #2b868e;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.home-container .search-container .search-wrap button:hover {
  background-color: #36b2bd;
}
.home-container .search-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .singer-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  text-decoration: none;
  transition: all 0.2s linear;
  padding: 8px 0;
}
.home-container .singer-item:hover {
  transform: translateX(6px);
}
.home-container .singer-item .singer-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}
.home-container .singer-item .info-wrap p {
  margin: 0;
  font-size: 14px;
  color: #b6b6b6;
}
.home-container .singer-item .info-wrap .singer-name {
  font-size: 18px;
  color: #fffdfd;
}
.home-container .content-item {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-decoration: none;
  border-radius: 16px;
  color: #dbdbdb;
  margin-bottom: 60px;
  transition: all 0.3s linear;
}
.home-container .content-item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.home-container .content-item .content-img {
  width: 260px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.home-container .content-item .content-desc {
  padding: 20px 30px;
  padding-right: 60px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.webgl {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  outline: none;
  width: 100% !important;
  /* mix-blend-mode: exclusion; */
}

.fa-heart {
  color: red;
}

.song-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eeede8;
  border-radius: 24px;
  color: #000;
  width: 1000px;
  margin-bottom: 80px;
}
.song-item img {
  width: 300px;
  height: 240px;
  object-fit: cover;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.song-item .item-wrap {
  padding-left: 48px;
  position: relative;
}
.song-item .item-wrap #youtube {
  width: 520px;
}
.song-item .item-wrap .song-title {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0px;
}
.song-item .item-wrap .singers {
  font-weight: 300;
  color: #5b5b5b;
}
.song-item .item-wrap .song-fav {
  right: -12%;
  top: 10%;
  position: absolute;
  font-size: 1.4rem;
  color: #cccccc;
  cursor: pointer;
}
.song-item .item-wrap .song-comment {
  font-size: 1.4rem;
  color: #cccccc;
  cursor: pointer;
  position: absolute;
  right: -12%;
  top: 42%;
}

.song-modal {
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease-in;
}
.song-modal .layer {
  position: absolute;
  background-color: rgba(35, 36, 38, 0.77);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}
.song-modal .song-wrap_comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 12px;
}
.song-modal .song_comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.song-modal .song_comment-header h1 {
  font-size: 20px;
  padding-right: 390px;
}
.song-modal .song_comment-header .comment-closeBtn {
  cursor: pointer;
}
.song-modal .line {
  width: 100%;
  height: 2px;
  background: black;
  margin-bottom: 20px;
}
.song-modal .list-comments {
  width: 100%;
}
.song-modal .list-comments .comment-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 12px;
}
.song-modal .list-comments .comment-item .comment-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}
.song-modal .list-comments .comment-item div h3 {
  font-size: 18px;
}
.song-modal .list-comments .comment-item div p {
  font-size: 12px;
}
.song-modal .comment-input {
  outline: none;
  width: 100%;
  border: none;
  padding: 10px 12px;
  background: none;
  color: black;
  border-bottom: 1px solid black;
}
.song-modal .comment-submit {
  cursor: pointer;
  color: #3f3f3f;
  position: absolute;
  top: 63%;
  font-size: 20px;
  right: 35%;
}

.song-modal.active {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.detailLayer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(to left bottom, #143743, #0e6469, #35947f, #7cc284, #d7ec85);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailContainer .detailItem p {
  margin: 24px 0;
}

.review {
  padding: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -6px;
}

/*# sourceMappingURL=style.css.map */
