<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streaming Web</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../public/css/subStyle.css">
    <link rel="stylesheet" href="../scss/style.css">

</head>

<body>
    <div class="app">
        <div class="background_gradient">

        </div>
        <!-- header -->
        <nav class="nav-container">
            <div class="nav_block-item">
                <a class="navbar-brand" href="#"> Streaming</a>
                <span class="navbar-dot">.</span>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link " href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="./details.html">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./comment.html">Comment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
            <i class="bar-icon fa-solid fa-bars"></i>

            <div class="component_layer ">
                <div class="transulecent_layer"></div>
                <div class="component_layer-wrap">
                    <i class="close-btn fa-solid fa-xmark"></i>
                    <div class="component_layer-item">
                        <a class="component_layer-link " href="../index.html">Home</a>
                    </div>
                    <div class="component_layer-item">
                        <a class="component_layer-link active" href="./details.html">Details</a>
                    </div>
                    <div class="component_layer-item">
                        <a class="component_layer-link" href="./comment.html">Comment</a>
                    </div>
                    <div class="component_layer-item">
                        <a class="component_layer-link" href="#">Login</a>
                    </div>

                </div>
            </div>
        </nav>


        <!-- body -->
        <div class="body-container">
            <div class="detailContainer">
                <div class="detailItem">
                    <h1>Live streaming web audio</h1>
                    <p>Live streaming technology is often employed to relay live events such as
                        sports, concerts and more generally TV and Radio programmes that are
                        output live. Often shortened to just streaming, live streaming is the
                        process of transmitting media 'live' to computers and devices. This is a
                        fairly complex and nascent subject with a lot of variables, so in this
                        article, we'll introduce you to the subject and let you know how you can
                        get started.</p>
                </div>
                <div class="detailItem">
                    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_1cmhfk0l.json"
                        background="transparent" speed="0.5" style="width: 400px; height: 400px;"
                        loop autoplay>
                    </lottie-player>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../fetchData/details.js"></script>

</body>

</html>